<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Bookshelf</title>
</head>
<body>
    <div id="sidebar-container">
        <ul id="side-main-container">
            <li class="<%= locals.activePage === 'home' ? 'sidebar-clicked' : ''%>"><a href="/">Home</a></li>
            <li class="<%= locals.activePage === 'bookshelf' ? 'sidebar-clicked' : ''%>"><a href="/bookshelf">Bookshelf</a></li>
            <li class="<%= locals.activePage === 'add' ? 'sidebar-clicked' : ''%>"><a href="/add">Add Book</a></li>
        </ul>
        <ul id="side-aboutme-container">
            <li class="<%= locals.activePage === 'about' ? 'sidebar-clicked' : ''%>"><a href="/about">about</a></li>
            <li class="<%= locals.activePage === 'contact' ? 'sidebar-clicked' : ''%>"><a href="/contact">contact</a></li>
        </ul>


    </div>
</body>
</html>